#roles a {
    color: black;
    text-decoration: underline;
}

#roles h2, #skills h2{
    color: #f19915;
    font-weight: 600;
}

#contact {
    font-weight: 600;
}

#contact a {
    text-decoration: underline;
}

#home {
    height: Window.innerheight;
}
